In [1]:
import pandas as pd
import numpy as np
sys_df = pd.read_csv("us-covid-19-total-people-vaccinated.csv")
unwanted_regions = ["American Samoa", "Bureau of Prisons", "Dept of Defense", "Federated States of Micronesia", "Guam", "Long Term Care", "Indian Health Svc", "Marshall Islands", "Northern Mariana Islands", "Puerto Rico", "Republic of Palau", "Virgin Islands", "Veterans Health", "United States"]
clean_df = sys_df[sys_df['Entity'].isin(unwanted_regions) == False]
# I am thinking to first plot all 50 states for their percentage of people vaccinated over time using existing data only
# Once I have the trajectory prediction model working then we can redo this plot except with new data that reaches to August or September
#In order to do a national cumulative, we will need to multiply every entry by the respective state population then divide by 100.

print("Scenario One: reaching herd immunity assuming that all people who get vaccinated includes all the people that had Covid in the past")

us_pop = 332915073 #population value from macrotrends

nt_df = clean_df.groupby('Day').sum()

nt_df = nt_df.reset_index()

nt_df_og_tail = nt_df.tail()

while nt_df.iloc[-1]['people_vaccinated'] < us_pop: 
    ten_days = nt_df.iloc[-9:]['people_vaccinated']

    ten_days_inc = ten_days.diff()

    ten_day_ave = np.mean(ten_days_inc)

    next_day_val = nt_df.iloc[-1]['people_vaccinated'] + ten_day_ave

    next_day_date = (pd.to_datetime(nt_df.iloc[-1]['Day']) + pd.to_timedelta(np.ceil(1), unit="D")).date()

    nt_df = nt_df.append({'Day': next_day_date, 'people_vaccinated': next_day_val}, ignore_index=True)

nt_df['percent_vaccinated'] = nt_df['people_vaccinated'] / us_pop

nt_df.tail()


#Possibly add CI with smallest and largest increments in future scenarios"

Scenario One: reaching herd immunity assuming that all people who get vaccinated includes all the people that had Covid in the past

            Day  people_vaccinated  percent_vaccinated
193  2021-07-28       3.254037e+08            0.977438
194  2021-07-29       3.273268e+08            0.983214
195  2021-07-30       3.292499e+08            0.988991
196  2021-07-31       3.311730e+08            0.994767
197  2021-08-01       3.330961e+08            1.000544

In [45]:
clean_df.tail()

       Entity Code         Day  people_vaccinated
5042  Wyoming  NaN  2021-03-31             156910
5043  Wyoming  NaN  2021-04-01             161055
5044  Wyoming  NaN  2021-04-02             161277
5045  Wyoming  NaN  2021-04-03             161571
5046  Wyoming  NaN  2021-04-04             168129

In [ ]:
#Data Setup
#people_vac_df: holds data for total people vaccinated in US from 2021-01-12 to 2021-04-04
#people_case_df: holds data for total people with covid in US from 2020-01-22 to 2021-04-09

#step 1: get both dataframes to line up on dates by slicing people_case_df to become 2021-01-12 to 2021-04-04
#step 2: create new dataframe holding data from both dataframes
#step 3: create new column that does people_vaccinated + .2 * people_with_covid for every row
#step 4: run predictions on this new combined column for more accurate prediction

In [37]:
print("Scenario Two: reaching herd immunity assuming that 20% of people vaccinated had Covid")

# herd immunity = all the people who get vaccinated + all the people who have had Covid

covid_cases = pd.read_csv('United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv')
covid_cases.head()
us_pop = 332915073 #population value from macrotrends

# Row: total vaccinated + .8 * total covid cases
total_cases = covid_cases.groupby('submission_date').sum()
# print(total_cases)

Scenario Two: reaching herd immunity assuming that 20% of people vaccinated had Covid

In [43]:
# total_cases = total_cases.reset_index()
# total_cases['submission_date'] = pd.to_datetime(total_cases['submission_date'])
# total_cases = total_cases.sort_values(by="submission_date")
total_cases.tail()

,submission_date,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death
169,2021-04-05,30599309,14048436.0,2140934.0,62504,7947.0,554596,276276.0,32962.0,344,64.0
171,2021-04-06,30662171,14078080.0,2150227.0,61448,14546.0,555330,276765.0,33000.0,708,78.0
173,2021-04-07,30737477,14115807.0,2159537.0,75306,14269.0,556107,277223.0,33026.0,773,0.0
175,2021-04-08,30814955,14155405.0,2167833.0,75956,12834.0,557093,277687.0,33071.0,940,105.0
177,2021-04-09,30897028,14197096.0,2176645.0,81376,13758.0,558028,278164.0,33098.0,904,0.0