# Practice 3

In this exercise, you will practice wrangling data through different formats, with missing data, and working with text.

You can either print answers directly from your code or write them in the markdown cells below your code. Either way, make sure that your answers are visible and can be easily read in the final notebook you turn in.

## Part 1: Text wrangling and regular expressions

### Question 1 (3 points)
Below we import the `text.txt` file as a string called `text` and preview the first 1,000 characters. Note that the text has no capitalization at the beginning of sentences.

In [ ]:
# Run but do not modify this code
with open("text.txt") as f:
    text = f.read()

print(text[:1000])

Capitalize the first letter of each sentence (e.g., "it was the best..." should become "It was the best..."). To do so, split the sentences (you may assume sentences are ended with the a period `.` followed by a blank space), capitalize the first letter of each sentence, and then join the results.

When you finish, print the first 1,000 characters. You do not need to write anything else in your answer.

In [ ]:
sentences = text.split('. ')
for i in range(len(sentences)): 
    sentences[i] = sentences[i][0].upper() + sentences[i][1:]
res = '. '.join(sentences)
print(res[:1000])

### Question 2 (4 points)
Below we import the `corrupted_text.txt` file, a messed up version of `text.txt`, and print the first 1,000 characters.

In [ ]:
# Run but do not modify this code
with open("corrupted_text.txt") as f:
    ctext = f.read()

print(ctext[:1000])

Fix the following problems to recover the original text that appeared in `text.txt`.

1. Every comma `,` has been replaced by `$`. Sometimes, but not always, this is followed by `####`. When it is followed by `####`, there are different numbers of blank spaces after the `####`.
2. Every period `.` has been replaced by `$\n\n`.

When you are finished, print the first 1,000 characters. You should see the same text as in `text.txt` above (except without the capitalization you worked on in the previous problem).  You do not need to write anything else in your answer.

Note: It may be helpful to recall that `\` is an escape character for Python strings, so for example, while calling `print("\n")` will simply print a blank newline character, calling `print("\\n")` will "escape" the usual meaning of the second backslash and print `\n`.

In [ ]:
import re
fix_period = re.sub(r'\$\\n\\n', '.', ctext)
fix_comma = re.sub(r'\$#*\s+', ', ', fix_period)
print(fix_comma[:1000])

### Question 3 (8 points)
Below, we again import the `text.txt` file as a new string variable `ftext` (for "fresh" text if that helps).

In [ ]:
# Run but do not modify this code
import re # Regular expression library
with open("text.txt") as f:
    ftext = f.read()

Write regular expressions and use the Python `re` module [documentation](https://docs.python.org/3/library/re.html) to answer the following questions about the file. You may assume that all characters are lowercase. You can print your answers directly from code (as long as they are clearly labeled) or you can write them in the markdown cell below.

1. How many times do two vowels (a, e, i, o, and u) appear consecutively in `text`? When three vowels occur consecutively (such as in "queen") you only need to count once, (for example, in "queen" you do not need to worry about the overlap between "ue" and "ee", just count once). 
2. Print all of the hyphenated words in `text` (that is, the words with a hyphen character `-` in the middle and no spaces between the hyphen and the characters on either side). 
3. Print the first word that appears after each period character `.` in the text. Do not include the period itself or the space that follows it.
4. Print the starting index of every word `she` or `he`. Do not include words that enclose these such as `the` or `fishes` (Hint: It appears only 3 times).

In [ ]:
# Put your code to answer the question here
query = re.compile(r"[aeiou][aeiou][aeiou]")
re.findall(query, ftext)

#1
query_one = re.compile(r"[aeiou]{2,}")
print("Number One: ")
print(len(re.findall(query_one, ftext)))

#2
query_two = re.compile(r"\w*\-\w*")
print("Number Two: ")
print("Hyphenated words: " + str(re.findall(query_two, ftext)))

#3
query_three = re.compile(r"\. (\S+)")
print("Number Three: ")
print("First word after each period: " + str(re.findall(query_three, ftext)))

#4
query_four = re.compile(r"\bshe\b|\bhe\b")
matches = re.finditer(query_four, ftext)
for match in matches: 
    start = match.start()
    ending = match.end()
    print(ftext[start:ending] + " starts at index: " + str(start))

### Answer 3
Write your answer here if not printed above

## Part 2: Cleaning up system logs CSV
In this part we work with a piece of messy tabular data in the form of a poorly formatted csv file containing data about programs running on computer systems.

### Question 4 (6 points)
Below, we import the dataset using the Pandas `read_csv` function that creates a dataframe. Run the code; it will preview the first five rows. There are several formatting issues with the default import.

In [1]:
# Run but do not modify this code
import pandas as pd
sys_df = pd.read_csv("monitor.csv")
sys_df.head()

   0  System Time: 23 second   System Mem: 3 Gb  414 Mb
0  1  System Time: 40 second   System Mem: 3 Gb  382 Mb
1  2  System Time: 43 second   System Mem: 2 Gb  271 Mb
2  3  System Time: 31 second   System Mem: 3 Gb  493 Mb
3  4  System Time: 37 second   System Mem: 3 Gb  411 Mb
4  5  System Time: 36 second   System Mem: 2 Gb  266 Mb

Address the following, either by changing the `read_csv` statement or by modifying the imported dataframe:

1. The rows are already numbered with an integer index, but that is being duplicated so that we see a primary index for the dataframe and separately a column containing integer indices. Fix this so that there is just a single integer index as the primary index of the dataframe (bolded).
2. There are commas at the end of every row causing the dataframe to add a blank extra column at the right. Get rid of this column.
3. The file did not have column labels, so currently the first row is being incorrectly interpreted as the bolded column labels. Fix the code so that the column labels (from left to right) are `System Time second`, `System Memory GB`, and `System Memory MB`.

When you are finished, `sys_df` should have the above issues correct. Again run `sys_df.head()` to show the first few rows of your dataframe. You do not need to write anything else in your answer.

In [2]:
# Put your code to answer the question here
# You are welcome to use a new sys_df = pd.read_csv(...) statement

#1

del sys_df['0']

#2
# sys_df.head()
sys_df.drop(sys_df.columns[len(sys_df.columns)-1], axis=1, inplace=True)

#3
new_row = pd.DataFrame({'System Time: 23 second':'System Time: 23 second', ' System Mem: 3 Gb':'System Mem: 3 Gb', '414 Mb':'414 Mb'}, index =[0]) 
sys_df = pd.concat([new_row, sys_df]).reset_index(drop = True) 

sys_df.rename(columns={"System Time: 23 second": "System Time second", " System Mem: 3 Gb": "System Memory GB", "414 Mb": "System Memory MB"})

         System Time second   System Memory GB System Memory MB
0    System Time: 23 second   System Mem: 3 Gb           414 Mb
1    System Time: 40 second   System Mem: 3 Gb           382 Mb
2    System Time: 43 second   System Mem: 2 Gb           271 Mb
3    System Time: 31 second   System Mem: 3 Gb           493 Mb
4    System Time: 37 second   System Mem: 3 Gb           411 Mb
..                      ...                ...              ...
995  System Time: 31 minute   System Mem: 2 Gb           258 Mb
996  System Time: 31 minute   System Mem: 3 Gb           403 Mb
997  System Time: 36 minute   System Mem: 3 Gb           350 Mb
998  System Time: 44 minute   System Mem: 3 Gb           366 Mb
999  System Time: 20 minute   System Mem: 3 Gb           490 Mb

[1000 rows x 3 columns]

### Question 5 (6 points)
The `sys_df` dataframe from question 3 should now be a little easier to read and use, but there are some strange things we would like to fix about the formatting of the data.

1. The three features or columns all contain numeric data (seconds, GB, and MB) but are currently formatted as Strings with redundant information also contained in the column names. Fix the dataframe so that each value is just an integer. Note that the rows at index `400` and on have System Time recorded in minutes instead of seconds, be sure to convert these to seconds by mulitplying by 60.
2. Currently the System Memory is split accross two columns, one for the GB and one for the MB. For example, the total memory of the first program is 3 GB and 414 MB. Instead, represent the full system memory in the `System Memory MB` column, and get rid of the `System Memory GB` column. To do so, you need to convert the values in the GB column to MB (1 GB is 1000 MB) and add that to the MB column, then use the [`drop` method](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html) to remove the GB column.
3. Now that you have dealt with the above, it should be easy to provide some basic statistics about the data. Report the mean time in seconds and mean memory in MB of the programs.

When you are finished, again run `sys_df.head()` to show the first few rows of your dataframe, and print or report your answer to the third task.

In [ ]:
# Put your code to answer the question here

### Answer 5
Write your answer here if not printed above

## Part 3: Wrangling FDA JSON Dataset 
In this part we work with a messy JSON dataset containing information about several drugs labels.

### Question 6 (6 points)
Below we import the `FDADrugLabel.json` file into the `labels` variable.

The resulting Python object is somewhat messy; we encourage you to explore the data before answering the questions. For example, rather than just printing out `labels` check it's type, print only one element, and remember there are different [dictionary functions](https://docs.python.org/3/library/stdtypes.html#typesmapping) you could use. Feel free to add your own cells as you explore.

In [ ]:
# Run but do not modify this code
import json
with open("FDADrugLabel.json") as f:
    labels = json.load(f)

Answer the following questions.

1. How many drugs are represented in the file?
2. What is the largest number of key/value (or name/value) pairs for any drug in the file?
3. The `effective_time` is recorded for each drug as a date in the format `yyyymmdd`, for example, June 1, 1992 would be recorded as `19920601`. What is the earliest recorded date?

In [ ]:
# Put your code to answer the question here

### Answer 6
Write your answer here if not printed above

### Question 7 (6 points)

Below we use the Pandas `read_json` function to import the `FDADrugLabel.json` file into a Pandas dataframe `label_df`.

In [ ]:
# Run but do not modify this code
import pandas as pd
label_df = pd.read_json("FDADrugLabel.json")
label_df.head()

Use the dataframe to answer the following questions. 

1. What happens if you call `label_df.dropna()` (with no optional parameters) to remove the null values? Why? 
2. Which of `label_df`'s columns contains data for every row? You might answer this using the `label_df.dropna()` method to keep all of the rows but remove any of the columns that have any missing data, but do not modify the `label_df` dataframe itself. 
3. Filter the dataframe to the rows that are missing data for `active_ingredient`, then show those rows (if `my_view` is a dataframe view you have computed by filtering the data, you can simply put `my_view` as the last line of a cell and run it to get a tabular rendering of the rows in Jupyter). You may find the Pandas `isnull` method useful, you can see it's [documentation here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.isnull.html).

In [ ]:
# Put your code to answer the question here

### Answer 7
Write your answer here if not printed above

For item 1, calling `label_df.dropna()` returns a dataframe with no rows, i.e., with all of the data removed. This happens because the default is for `dropna()` to drop every *row* containing *any* missing data, and each row in the `label_df` dataframe has at least one piece of missing data.